[2014-02-11 23:44] AndyNor opened #8 "dump, load and then dump fails"
The attributes types are being turned into strings when using dump() to ARFF
'attributes': [
	('local_hour', 'INTEGER'),
]
-->
@ATTRIBUTE 'local_hour' 'INTEGER'

When loading this back using load() it will be a the string 'INTEGER' and will miss the check "if type_values.upper() in DECODE_ARFF_TYPES" in the __decode_attribute(type_values) function. Basically comparing the string 'INTEGER' with the

[2014-04-15 14:36] mfeurer opened #9 "_RE_TYPE_NOMINAL"
The current version of `_RE_TYPE_NOMINAL` together with

    @attribute 'family' {  GB , GK , GS , TN , ZA , ZF , ZH , ZM , ZS }

for decoding an arff file raises a BadAttributeType error. I think this Regex solves this problem:

    r'^\{\s*((\".*\"|\'.*\'|\S*)\s*,\s*)*(\".*\"|\'.*\'|\S*)\s*\}$'

[2014-09-08 16:56] azrdev opened #14 "dump() is broken (python3.4)"
Haven't yet tested on python2, but with Python 3.4.1 (archlinux default) i get the following error when calling ```arff.dump(data, file)```:

      File "/usr/lib/python3.4/site-packages/arff.py", line 719, in dump
        last_row = generator.next()
    AttributeError: 'generator' object has no attribute 'next'

```arff.dumps()``` works, though.
This happens both with the (old) liac-arff version

[2014-09-08 17:09] azrdev opened #15 "comma in data value is not escaped"
, in any data field should lead to this field being quoted with ', but doesn't

[2014-09-10 17:25] renatopp opened #18 "Tests are broken for python 3.4"
Tests depending on StringIO and unicode are broken

[2014-09-12 14:19] lazywei opened #19 "Bad @DATA instance"
Hi, I'm trying to load `medical` from http://mulan.sourceforge.net/datasets-mlc.html
but I got
[code]

[2015-01-12 16:18] #9 closed

[2015-01-12 16:19] renatopp commented on #8
This is supposed to be fixed so I'm closing this. Feel free to open if needed.

[2015-01-12 16:19] #8 closed

[2015-03-03 09:20] joaquinvanschoren opened #24 "ARFF attribute naming specification changed"
Hi Renato,

The specification of ARFF has recently changed to allow a wider range of attribute names. More specifically, attributes are now allowed to start with numbers (in fact any character except control characters and '{', '}', ',', or '%': http://weka.wikispaces.com/ARFF+%28stable+version%29

It would be great if liac-arff could be updated to reflect this. We are using liac-arff for python c

[2015-03-03 13:57] renatopp commented on #24
Hi Joaquin, thanks for this feedback, at maximum in this weekend (hopefully before that) I update this and review the @mfeurer  pull requests.

[2015-03-05 03:22] rustle1314 opened #25 "Bad @ATTRIBUTE format for "@ATTRIBUTE 0 {0,1} ""
In text mining task,we may want to design a feature, which indicates whether a document has the word "0". The feature in arff format is "@ATTRIBUTE 0 {0,1}".  When liac-arff parses it, we may encounter the "Bad @ATTRIBUTE format" exception.

The similar problem occurs, when "@ATTRIBUTE _qacct {0,1}".

[2015-03-06 12:44] renatopp commented on #25
Related to #24.

Thanks for the feedback, I'm closing this one because #24 also solves this problem.

[2015-03-06 12:44] #25 closed

[2015-03-21 16:12] #24 closed

[2015-03-21 16:41] renatopp commented on #15
This is an issue related to python `csv` reader, I need some help to find out how to enable quoting of multiple characters `"` and `'`

[2015-03-21 16:42] renatopp commented on #19
Attribute names starting with non-alphabetic characters was solved

[2015-03-21 16:42] #19 closed

[2015-03-21 18:35] midnightradio commented on #15
Basically, values are delimited by comma no matter the type of each values are (and quoted or doubleqouted is only the case for string typed data) and comma inside a quoted string or nomial data should be escaped in ARFF file. So in this case, I think it needs preprocessing escapes comma inside a quoted string before it read by the ARFF decoder.

Since ARFF does not specify any character to be use

[2015-03-30 11:26] calvin commented on #18
Also fails in python 2.6 and pypy. See https://travis-ci.org/calvin/liac-arff/builds/56398340 for details.

[2015-04-03 14:53] #14 closed

[2015-04-03 14:54] renatopp commented on #18
Done. Thanks @calvin

[2015-04-03 14:54] #18 closed

[2015-04-14 17:07] lazywei opened #30 "Support for sparse data"
Hi,

I think some data, e.g. the tmc2007, would be better loaded in as somewhat sparse format. How do you think?

[2015-04-14 17:18] renatopp commented on #30
Would be really cool to have it. Can you make a pull request of this?

[2015-04-15 07:03] mfeurer commented on #30
I was thinking about this, too. But I did not yet find an appropriate representation of sparse data which does not rely on an external library (scipy). You can then read the arff file in a data structure which is the input to a scipy.sparse matrix (https://github.com/mfeurer/liac-arff/commit/2a39b56b7affa0143b575dd814f796360bc50639). If you have some suggestions on how to go on from the code which

[2015-04-15 10:47] lazywei commented on #30
How about using dictionary?
For example, in [libsvm](http://www.csie.ntu.edu.tw/~cjlin/libsvm/)'s python interface, they store sparse data in such format:

[code]

How do you think?

[2015-04-15 10:53] mfeurer commented on #30
That looks like a simple format. But I don't know how to go from that to something scikit-learn accepts.

What do you think about an argument to the `ArffDecoder` which determines the behaviour for sparse data? Right now this argument could take the values `dense`, `list_of_dicts`, `coo`.

[2015-04-15 11:10] lazywei commented on #30
I think passing an argument for specifying the type is very helpful! That's exactly what I want!

[2015-04-15 11:14] lazywei commented on #30
By the way, when using sparse format, would it be great if we turn nominal/category attributes to numeric (i.e., using integer: 0, 1, 2, ... to represent category) when returning?

[2015-04-15 13:46] mfeurer commented on #30
The second thing is already implemented. I just checked and the documentation is not up to date. If you build the documentation on your computer, you will find an example of how to do that.

For the extra argument with the sparse data I would wait for the opinion of @renatopp before I will create a pull request.

[2015-04-15 15:25] lazywei opened #32 "Encode nominal when decoding failed"
[code]

[2015-04-27 12:54] renatopp commented on #30
Hi!

The extra argument seems fine to me, but it should be well documented. What options we would add right now?

- dense: all values
- coo: a list of rows, a list of cols, and a list of data
- list_of_dicts: a list of dicts {col:value}
- anything else?

The option names would be these?

Another thing to consider is how dump would be made (in implementation level).

---

With this, may be the time

[2015-04-29 08:04] mfeurer commented on #30
Hi,

yes, documentation is important. I think the three choices `dense`, `coo` and `list_of_dicts` are fine for now.  If you have a look at my prototype implementation I had before this issue, you can see that it is quite hacky. Therefore I also propose to add a new object `data` (and subclasses for `dense`, `coo` and `list_of_dicts`), which avoids the if-statements like [here](https://github.com/

[2015-05-17 19:14] Haikane opened #35 ""Nominal" is not part of _SIMPLE_TYPES"
[code]

"Nominal" should be allowed no?

[2015-05-17 19:19] Haikane commented on #35
Ha I'm stupid

[2015-05-17 19:19] #35 closed

[2015-07-17 07:33] mfeurer commented on #30
Please have a look at my pull request.

[2015-07-27 13:49] #30 closed

[2015-08-10 16:25] joaquinvanschoren opened #40 "Option to check data format without loading"
We want to use liac-arff to check the validity of ARFF files. These can be quite big, however, and loading them can take quite some time. It would be nice if an option could be added that checks whether the file is valid ARFF, and returns a useful error message if not, without actually loading the data.

[2015-08-11 09:37] mfeurer opened #41 "Possible bug in test_loads.py"
Hi,
I think I stumbled upon a bug in test_loads.py in the method test_format_correct. This test should not pass in my opinion because the only line of data is the same line which contains `@data`.

This also raises the question if a line which denotes `@data` should be checked with a `u_row.startswith()`. I propose to use a `u_row.startswith()` followed by a check if there is something else in the

[2015-09-11 11:04] mfeurer commented on #41
@renatopp can you please have a look at this?

[2015-09-11 15:34] renatopp commented on #41
Hey, @mfeurer, despite the ARFF documentation, I always test all our ARFF examples within Weka. Thus, if Weka opens a given file, I think we should open too.

For instance, this example ARFF can be opened with Weka (3.7+) so I guess there is no problem with this format.

For reference, the example we are discussing here is:

    @relation "software metric"
    @attribute number_of_files numeric

[2015-09-28 08:46] mfeurer commented on #41
I posted an issue over at the [wekalist](http://list.waikato.ac.nz/pipermail/wekalist/2015-September/065123.html). Let's see what happens.

[2015-10-08 15:10] jondo opened #43 "Allow tab separated instance data"
I have got a lot of ARFF files with tab separated instance data, and Weka can read them.
Could you please also read them?
(I know that [officially](http://www.cs.waikato.ac.nz/~ml/weka/arff.html) "Attribute values for each instance are delimited by commas.")

[2015-10-09 12:33] mfeurer commented on #43
Hi,
I don't think liac-arff should support anything which is not in the documentation. Regarding that, I filed an [issue](http://list.waikato.ac.nz/pipermail/wekalist/2015-October/065171.html) at the wekalist.

[2015-10-09 13:18] renatopp commented on #41
Hey @mfeurer, any news on this issue?

[2015-10-09 13:20] mfeurer commented on #41
They confirmed it's a bug. I wrote again (2 hours ago) to ask whether they are going to change the behaviour. Let's see what happens.

[2015-10-12 08:23] mfeurer commented on #41
It'll be fixed in the [next release](http://weka.wikispaces.com/ARFF+%28developer+version%29).

[2015-10-12 08:24] mfeurer commented on #43
[Arff specs](http://weka.wikispaces.com/ARFF+%28developer+version%29) are updated. Do you want to work on this and submit a pull request?

[2015-10-15 07:10] jondo commented on #43
Great to hear! Sorry - I have switched to using pandas.read_table for now, and I will stay with that because this fits well to my next step of calling pandas.merge for joining files.

[2015-10-15 13:07] renatopp commented on #43
load and loads could receive a parameter `delimiter` (just like csv module), with defaults to `,`, and simply redirect it to the data conversion procedure (which uses csv).

[2016-03-30 23:44] dalupus commented on #15
I ran into this today I think.

[code]

This results in an error as it tries to break that string into 2.

[2016-03-30 23:47] dalupus commented on #15
For some reason it is escaping the opening and closing ' which is confusing csv reader
\\'Doctor Aboolian is a board-certified, plastic surgeon.\\',Y

That is what ends up as the string it tries to read.  since the open and close ' is escaped it doesn't treat it as a singular field.

[2016-03-31 00:18] dalupus commented on #15
Doing this on line 334 fixed it for me. In my case.  csv.reader defaults to using double quote as the quote char and none as the escapechar.

`values = next(csv.reader([row.strip(' ')],quotechar="'",escapechar="\\"))`

[2016-03-31 00:25] dalupus commented on #15
The [official](http://weka.wikispaces.com/ARFF+%28developer+version%29) spec says that double or single quotes are allowed (I think it used to only allow single quotes), which csv.reader does not allow this.  Maybe we need to make this a parameter which can be passed in?

I believe that single quotes is the norm for arff files though, atleast in 3.6.

[2016-04-05 12:51] rhymoid opened #44 "Partial support for date and datetime formats"
ARFF supports dates and timestamps. liac-arff currently doesn't support it, nor does scipy or the unmaintained arff package.

`java.text.SimpleDateFormat` looks awful to fully support, so I intend to implement partial support for now. In my application, I need to understand the following formats:

* `yyyy-MM-dd'T'HH:mm:ss` (the file format default)
* `yyyy-MM-dd' 'HH:mm:ss` (R's `foreign::write.ar

[2016-09-15 15:03] ToshiyukiAndo opened #46 "TypeError: a bytes-like object is required, not 'str'"
I can't load arfffiles, error log is ↓

---

`>>>` import arff
`>>>` data = arff.load(open('sample.arff', 'rb'))
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/usr/.pyenv/versions/anaconda3-2.5.0/lib/python3.5/site-packages/arff.py", line 879, in load
    return_type=return_type)
  File "/Users/usr/.pyenv/versions/anaconda3-2.5.0/lib/python3.5/site-packages

[2016-09-15 16:21] mfeurer commented on #46
Did you already try:
[code]
Like this the file isn't opened in binary mode which might cause the problem.

[2016-09-16 00:53] ToshiyukiAndo commented on #46
Thanks your comment.
I tried it. Sorry 'fh' is invalid mode in my environment. Binary mode option is 'b' isn't it?

This is error log

-------------------------------------------

`>>>` import arff
`>>>` data = arff.load(open('sample.arff', 'fh'))
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ValueError: invalid mode: 'fh'

[2016-09-16 07:10] mfeurer commented on #46
You copied my example wrongly. The `fh` is not the open mode, but the file handle (thus `fh`) which is created by the context manager. You can read up on context managers [here](http://preshing.com/20110920/the-python-with-statement-by-example/). You're example should be:

    data = arff.load(open('sample.arff'))

does that work?

An unrelated issue is that you don't close the file any more.

[2016-09-16 08:10] ToshiyukiAndo commented on #46
Thanks your comment.
It work!!!
Thank you very much.

[2016-10-15 10:30] aysebilgegunduz commented on #46
I've got the same problem and i've solved using 'r' instead of 'rb'. But your main example using and illustrating with 'rb'. So, i thought that i did something wrong in installation stage.

[2016-11-10 15:32] #46 closed

[2017-02-01 10:06] mfeurer opened #50 "Quoted questionmarks are converted to null"
[code]

[2017-02-01 10:15] mfeurer commented on #50
Fixed in PR #51.

[2017-02-01 10:15] #50 closed

[2017-03-30 03:48] RinyChau opened #52 "Bugs in sparse data with missing nominal values"
![image](https://cloud.githubusercontent.com/assets/4788801/24486813/8823a4e6-153e-11e7-942e-cfb62272c685.png)

Due to the default value str(0), it may causes BadNominalValue() error when data contains some missing nominal values.

[2017-04-14 00:33] robooo opened #53 "ImportError: No module named arff"
I'm getting this error on py2.7 or 3.6 on OS X
Installed via pip or easy_install
never had same issue with any python module (tried module arff too but same problem)
[code]
[code]

[2017-04-14 00:39] robooo commented on #53
Maybe the problem is because I have isntalled scipy before?

`from scipy.io import arff`
is working for me

[2017-04-14 20:07] mfeurer commented on #53
Scipy and liac-arff should not conflict as the arff module in scipy lives in a different namespace. Could you please check that the file `arff.py` is in the site-packages directory and has the correct permissions? If that is all correct, you could also try uninstalling it, cloning it and installing it with `python setup.py install`.

Besides that I'm afraid that I'm no great help here as I've neve

[2017-04-14 23:16] robooo commented on #53
problem was with permissions working now without problems (can call scipy arff and liac too)
recommend install with
`python -m pip install liac-arff`
then it worked

[2017-04-14 23:16] #53 closed

[2017-06-28 03:05] mfeurer opened #57 "Drop python2.6"
The support for python 2.6 seems to decline and for example sklearn decided to drop 2.6 support in the upcoming [0.19.X release](http://scikit-learn.org/dev/whats_new.html#version-0-18-1). Therefore, I propose to drop python 2.6 from the unit tests and not support it any longer.

[2017-07-21 16:03] AlexisHe opened #58 "Bad @ATTRIBUTE type at line 993"
i used emobase.conf in openSMILE
line 993 is @attribute emotion unknown
how com is this bad @attribute type?
can anyone fix this?
thx in advance

[2017-07-21 16:04] AlexisHe opened #59 "bad @attribute type for "@attribute emotion unknown""
i used emobase.conf in openSMILE
line 993 is @attribute emotion unknown
how com is this bad @attribute type?
can anyone fix this?
thx in advance

[2017-07-21 23:49] mfeurer commented on #59
Hi @AlexisHe. There's no one actively working on liac-arff, so you probably need to debug and fix this yourself and create a PR to make sure other's don't run into the same issue. Also, if you run into any problem with a specific dataset, you should post a link to the specific dataset or ideally post a reduced version of the arff file here which can be used to reproduce the problem.

[2017-07-21 23:50] mfeurer commented on #58
Is this a duplicate of #59?

[2017-07-22 00:17] AlexisHe commented on #58
no duplicate

On 07/22/2017 07:50，Matthias Feurer<notifications@github.com> wrote：

Is this a duplicate of#59?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-16 12:51] hugovk commented on #57
Looks like 2.6 was dropped in https://github.com/renatopp/liac-arff/pull/56/commits/6c19453b4b2e6e510fb07ccf6e846b6c41092777. Can this be closed?

[2017-10-16 12:52] mfeurer commented on #57
I think so.

[2017-10-16 12:52] #57 closed

[2017-10-20 10:43] joaquinvanschoren opened #61 "Trailing comment lines"
It seems that, whenever I use arff.dump(), it ends the output with 3 empty lines, like this:
[code]

It that expected behavior or am I doing something wrong?

[2017-10-20 10:58] mfeurer commented on #61
I don't know if this is to be expected, but it's in the code: https://github.com/renatopp/liac-arff/blob/master/arff.py#L867

[2017-10-20 11:00] joaquinvanschoren commented on #61
Why is this necessary? Is this even valid arff?

[2017-10-20 11:03] mfeurer commented on #61
I do not know why it is there. It was already there when I started using this project. The arff specs say that any line starting with an ampersand is a comment, so I think its fine.

[2017-10-20 11:05] joaquinvanschoren commented on #61
Could we at least make it optional? It sometimes causes problems.

[2017-10-20 11:06] mfeurer commented on #61
Sure, go ahead. However, when does it provide problems?

[2017-10-20 11:07] joaquinvanschoren commented on #61
I remember I had to manually remove this for a few OpenML datasets.
I think it also creates issues when converting arff to csv

[2018-01-25 14:14] joaquinvanschoren commented on #15
Is there any workaround for this issue? This really doesn't make any sense.
Even if I clearly state that an attribute is a string, and pass it as a string, it is converted to multiple attributes...

[code]
Yields:
[code]

[2018-01-30 17:20] mfeurer commented on #15
This indeed seems to be problematic. What kind of behavior would you expect? Add single quotes when dumping a string? Checking whether parsing the string would lead to the same result?

[2018-01-30 19:26] joaquinvanschoren commented on #15
Quoting strings when dumping string attributes would indeed help.

I also noticed that adding a single space at the end gives you the correct behaviour, as in:
[code]

[2018-01-31 09:22] mfeurer commented on #15
@joaquinvanschoren I fixed your issue in commit 0248228e6de857e2728a845e9536ec18bcbf847e. Could you please check and confirm? Also, I'll try to make sure the other issue goes away as there are already two PRs on that issue.

[2018-02-09 19:36] joaquinvanschoren commented on #15
Looks good!

[2018-02-19 07:06] tats-u commented on #58
I got similar errors when making this library load arff files generated by openSMILE, and I think attributes definitions of arff files like the following make trouble:

[code]

[2018-02-19 13:26] mfeurer commented on #58
@tats-u could you please provide a full file generated by openSMILE which triggers this behaviour?

[2018-02-19 14:33] tats-u commented on #58
Here you are: [sample_arff.arff.txt](https://github.com/renatopp/liac-arff/files/1737109/sample_arff.arff.txt)

This causes the following error when you try to load it by `arff.load`:

[code]

[2018-02-19 15:19] mfeurer commented on #58
I just skimmed the [arff guide](http://weka.wikispaces.com/ARFF%20%28stable%20version%29) and cannot find a description of the attribute type in question. Should this be a nominal attribute with the values, `1`, `2`, `3` and `4`? If yes, the correct syntax would be `{1, 2, 3, 4}`.

[2018-02-20 11:14] tats-u commented on #58
I think so.  OpenSMILE violates the specification of the ARFF format.  Would you want me to open an issue at https://github.com/naxingyu/opensmile/issues?

[2018-02-20 12:37] mfeurer commented on #58
Yes, that would be great.

[2018-02-20 17:18] tats-u commented on #58
I will do later, though developers of it seem to show a lackadaisical attitude because all opened issues are left unsolved.

[2018-02-21 02:29] kyao commented on #52
Because of the this bug, liac-arff cannot decode many OpenML datasets, such as https://www.openml.org/d/35002

The default behavior of Weka is to fill in the missing nominal value with the first value in the nominal specification list

[2018-02-21 07:48] mfeurer commented on #52
Thank you a lot for pointing this out, but I would argue that this is not a bug in liac-arff, but in the [arff specification](http://weka.wikispaces.com/ARFF%20%28stable%20version%29). This behavior is not defined there, and I am very hesitant to add functionality here which is undocumented behavior of the WEKA arff reader. In fact, we deactivated the datasets in question on OpenML because they ar

[2018-02-21 07:51] mitar commented on #52
@mfeurer This still available dataset fails with this error: https://www.openml.org/d/35002

[2018-02-21 07:53] mfeurer commented on #52
I am aware of that; however, the dataset is flagged as 'in preparation' which basically means that it's not ready for production use. Someone needs to download all QSAR datasets, fix the bug in them, and re-upload them

[2018-03-14 08:01] mfeurer commented on #15
Fixed in #63.

[2018-03-14 08:01] #15 closed

[2018-03-14 08:08] mfeurer commented on #41
I just check this with the latest release and WEKA still parses this one :(

[2018-03-14 08:14] mfeurer commented on #52
Closing this as it is an issue with OpenML and WEKA.

[2018-03-14 08:15] mfeurer commented on #58
Closing this as OpenSMILE does not produce valid arff. Please add the curly braces manually as a workaround.

[2018-03-14 08:15] #58 closed

[2018-03-14 08:16] mfeurer commented on #59
@AlexisHe please post the file in question if this is still of interest to you.

[2018-03-14 08:21] mfeurer commented on #32
This is actually fixed in #34.

[2018-03-14 08:21] #32 closed

[2018-03-14 08:28] #61 closed

[2018-03-14 08:40] mfeurer commented on #52
Reopening as WEKA can actually read this file :(

[2018-03-14 08:51] mfeurer opened #64 "Improve string feature support"
By allowing arff files like this:
[code]
as reported in #15.

[2018-03-14 09:06] mfeurer commented on #64
There is also an issue when reading categorical values with a comma as reported in the openml-python connector: https://github.com/openml/openml-python/issues/404

[2018-03-14 09:23] mfeurer commented on #64
And one even harder example:
[code]

[2018-03-14 09:30] mfeurer commented on #64
And by now I think that this has to be handled by replacing the usage of `csv.reader`, making the arff parsing even slower :(

[2018-03-29 14:55] #64 closed

[2018-03-29 16:46] kllzheng opened #66 "use liac-arff unsuccessfully in python 3.6"
code:

import arff
data=arff.load(open('weather.arff', 'rb'))

error:
Traceback (most recent call last):
  File "c:\Users\yhy\Desktop\test\weather.py", line 6, in <module>
    data=arff.load(open('weather.arff', 'rb'))
  File "C:\Users\yhy\Anaconda3\lib\site-packages\arff.py", line 968, in load
    return_type=return_type)
  File "C:\Users\yhy\Anaconda3\lib\site-packages\arff.py", line 810, in dec

[2018-04-03 22:37] mfeurer commented on #66
Could you please try `data=arff.load(open('weather.arff'))`? `rb` opens the file in binary mode, which is not what you want for a text file. If this does not work, please provide a link to the arff file in question.

[2018-04-19 12:45] mfeurer opened #68 "Update documentation"
It seems like documentation stalled at 2.1.0 while it should continuously be updated. It would be good to use travis-ci to build the documentation and push it to github to host it at renatopp.github.io/liac-arff.

[2018-05-04 22:49] janvanrijn opened #69 "loads / dumps functionality not complementary"
When loading and dumping an arff object that contains string values and escaped characters, it keeps on adding escape characters without removing them.

The [test case](https://github.com/renatopp/liac-arff/blob/master/tests/test_loads_dumps.py) that tries to enforce correct behavior is a bit simplistic (it only considers numeric values). I reckon this is due to the fact that there is a quite exte

[2018-05-05 00:06] janvanrijn commented on #69
The problem gets even more complicated when it's not a string but a nominal feature ..
[code]

[2018-06-15 13:14] mfeurer commented on #69
Still investigating this issue, but WEKA doesn't parse your second example:
[code]
while liac-arff does. Yet another bug to fix...

[2018-06-15 14:53] mfeurer commented on #69
Okay, I created PR #70 which should fix the issue(s). Once you agree I will add a few more unit tests.

[2018-06-15 17:06] janvanrijn commented on #69
This is because there is a mistake in my example. This should be the test case:
[code]

And this should be the arff:
[code]

[2018-06-15 17:06] janvanrijn commented on #69
Your fix seems to work like a charm though

[2018-06-18 13:55] mfeurer commented on #69
I made some more changes to make it more similar to the behavior of WEKA. Could you please check again?

[2018-06-18 14:49] janvanrijn commented on #69
Sorry, I am no good with regular expressions. Can you explain what changed since your last commit?

[2018-06-18 15:16] mfeurer commented on #69
[These](https://github.com/renatopp/liac-arff/pull/70/files/858543a50a279e818bba72d8c5681175d3f8458d..585f09c1629504039f5563b3af2d4be4f42fc141) are the changes. Basically, escape characters are now handled better, and if a string is quoted, the exact quotation character is used to encode that string later (in contrast to `'` which was used before). This means that if there is a `\` present in the

[2018-07-30 07:09] jnothman opened #75 "Efficiency improvements: what API needs to be stable?"
If I am to offer changes improving loader efficiency, what guidelines do I need to adhere to in ensuring API stability? Is `load`/`loads`/`ArffDecoder.decode` the only real public interface for loading? Would restructuring the type conversion utilities be welcome?

[2018-07-30 10:44] mfeurer commented on #75
I think the only two somewhat complicated requirements are not adding any 3rd party dependencies and keeping support for the currently supported python versions. Other than that it should be fine if the unit tests still pass (assuming that you apply the same rigor as you do when working on scikit-learn) and the very simple dict format is returned.

Yes.

Yes. They are not facing the public so ther

[2018-07-30 12:06] jnothman commented on #75
I have some changes almost ready to push...

[2018-07-30 12:54] rth commented on #75
(Sorry if it's not the right issue to talk about benchmarks)

Regarding the previous comment, interestingly when loading MNIST on a computer without SSD it takes 93s with liac-arff and 27s with scipy's parser. So it's 40% slower that with an SSD (using the scipy parser as baseline in each case) -- I'm not quite sure why, but there might be some sub-optimal I/O reads..

[2018-07-30 12:54] jnothman commented on #75
@rth, perhaps offer the benchmark script to the repo.​

[2018-07-31 03:15] jnothman opened #77 "Sparse with quoted values not supported"
The ARFF spec includes quoted nominals in their sparse ARFF examples. liac-arff appears to raise an error in this case.

### What I did

[code]

### What I expected

[code]

### What I got

[code]

### Versions

0e17414

[2018-07-31 06:22] jnothman opened #79 "Multi-line strings"
What is the format for multiline strings? Is:
[code]

correct?

Or

[code]
?

Or

[code]
?

Or any of the above??

[2018-07-31 12:59] mfeurer commented on #79
I can't find any mention of this in the [arff documentation](http://weka.wikispaces.com/ARFF%20%28stable%20version%29). Where did you find such files?

[2018-07-31 13:45] jnothman commented on #79
I didn't find such files. But my background is in natural language
processing and I care very much that such data can be represented in a
resource like OpenML.​

[2018-07-31 13:52] mfeurer commented on #79
I'm afraid that you either need to ask on the [mailing list](https://weka.wikispaces.com/Weka+Mailing+List) or check the [original arff parser](https://github.com/bnjmn/weka). Probably it works somehow, but is not documented.

[2018-08-07 12:24] mfeurer commented on #52
Solved by #76, thanks to @jnothman .

[2018-08-07 12:24] #52 closed

[2018-08-07 12:26] mfeurer commented on #77
Fixed by #76.

[2018-08-07 12:26] #77 closed

[2018-08-07 12:28] mfeurer commented on #75
@jnothman do you plan to do further optimizations or can this be closed?

[2018-08-07 12:29] mfeurer commented on #66
Closing this because of inactivity - please reopen if this is still an issue.

[2018-08-07 12:29] #66 closed

[2018-08-07 12:29] mfeurer commented on #59
Closing this due to inactivity - if this still is an issue, please reopen and post the file in question.

[2018-08-07 12:29] #59 closed

[2018-08-07 14:39] #75 closed

[2018-08-16 00:25] jnothman opened #83 "Support returning a generator (at least for DENSE and LOD)"
To allow liac-arff to be memory efficient, but not commit to a particular in-memory representation or libraries, it could have an option which returned the data as an iterator/generator (using `return_type`, or as well as it?). It could either generate one row at a time, or use a [pandas-style `chunksize`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) to deliver mult

[2018-11-07 17:33] glemaitre opened #87 "Issue with separator space other than space"
We had a dataset with the character `\u3000` which is one of the separator space. The regular expression in the encoder only matches `\\` while it should use `\s` to match all possible separators and add quotes around the string to be compliant with the ARFF format.

I will open a PR to solve this issue.

[2018-11-08 14:18] glemaitre opened #89 "Issues when string data has a character `\n` or `\r\n`"
I am not sure that this is something easy to handle.
Currently, if the data contain a string with the escape character `\n` or`\r\n`, then the parser will fail. I would assume this due to the fact that those characters are used to split the data as well.

[2018-11-08 23:14] jnothman commented on #89
Yes. Lack of support for newlines in strings is something I'm a bit sad
about. I'm not sure it's clear how to represent this in arff.

[2018-11-09 13:24] mfeurer opened #90 "Add WEKA compatibility tests"
To make sure that liac-arff behaves like the WEKA arff reader/writer.

[2018-11-09 14:00] glemaitre commented on #87
It is just a Japanese string with this space inside, so this is the second case.

It should be treated as a separator space. ARFF mentions that you should quote this string then. No idea what WEKA is doing with those characters.

[2018-11-12 10:01] glemaitre commented on #87
This is not only for Japanese whitespace. We also the have the "BeerAdvocate" which encode white space with `\xa0`. I might think that this is not something so infrequent.

I strongly think that we should fix it now. Then, we can also point it to the WEKA implementation since they specified that string with spaces should be quoted.

[2018-11-13 13:07] mfeurer commented on #87
No matter what WEKA does, adding those brackets should not hurt anyway. Let's add this.

[2018-11-13 23:35] jnothman commented on #89
You're right that this might be the main place to handle it. I doubt your
regular expression is sufficient.

The problem is that arff doesn't seem to define this case. Or does it? For
example we may want to require that new line characters appear as \n rather
than ASCII newlines to keep the parsing simple. But that is not in the spec.

[2018-11-16 10:22] mfeurer commented on #89
To the best of my knowledge this is not defined.

From trying to read and then write the same file with WEKA I figured out:

Real newlines do not work as WEKA then thinks that a new data point/instance starts.

WEKA reads and emits the following file without any issues:
[code]

I suggest that you write an email to the WEKA user list to ask for a clarification on how to handle newlines.

+ we have

[2018-11-16 13:51] glemaitre commented on #89
I am getting a bit lost to see the difference of real newlines and `\n`.

I think that this is basically the issue that I am mentioning here. If I have a string with a newline, you will consider it as a real new line instead of being part of a string.

@jnothman I have pretty limited knowledge there. How does a file look like with ASCII newlines?

[2018-11-18 05:54] jnothman commented on #89
If weka reads and emits 'A\nB' that suggests it is not interpreting the \
as \ which would be emitted as 'A\\nB'. Implicitly, then, \n is being used
as an escaped newline, and we should handle the same.

ASCII newline looks like a new line :) I mean "line feed" = character 0x0a
(at least in *NIX) or perhaps DOS's "carriage return, line feed" = 0x0d0a.

[2018-11-18 05:58] jnothman commented on #89
It basically means that we should probably follow java conventions for
escaping, including \n,\r,\t,\uxxxx,\0,\0x,\0xx,\b,\f (
https://stackoverflow.com/questions/1367322/what-are-all-the-escape-characters).
Currently we only handle the literal escapes, i.e. \\ -> \, \" -> ", \' ->
'.

[2018-11-19 09:01] mfeurer commented on #89
Definitely.

I totally agree on that. The one time I looked for a port of the java tokenizer I couldn't find anything.

Ideally, we'd have some compatibility tests which read an arff file in WEKA and emit the arff file again via the command line which are triggered automatically on travis-ci, but I currently don't have the time to look into this :(

[2018-11-30 13:16] mfeurer commented on #68
@arlindkadra could you please have a look at this?

[2018-11-30 13:22] ArlindKadra commented on #68
Yep, I will.

[2018-11-30 16:50] #87 closed

[2018-12-03 09:20] #83 closed

[2019-02-06 16:12] #79 closed

[2019-02-06 16:12] #89 closed

[2019-05-08 03:23] tiagorochadealmeida opened #96 "ValueError: Matrix type arff.COO not supported."
Prof. Renato Pereira,

Tudo bem?

Eu me chamo Tiago e estou cursando especialização em IA no IESB, aqui em Brasília.

Na matéria machine learning, conduzida pela profa. Letícia, tive o desafio de replicar o algoritmo Naives Bayes da base credit-g.arff do Weka para o Python.

Para cumprir esse desafio, encontrei o módulo https://pythonhosted.org/liac-arff/#, elaborado e gentilmente publicado por vo

[2019-05-08 03:44] jnothman commented on #96
The parameter is not expected as a string. Remove the quotes around arff.COO

[2019-05-08 16:29] tiagorochadealmeida commented on #96
I just adjusted to arff.DENSE whithout quotes around so the error magically disappeared. I really thank you, @jnothman .

[2019-05-08 16:30] #96 closed

[2019-05-16 19:26] yli110-stat697 opened #97 "Bad @DATA instance format for UCI chronic kidney disease data"
Hi, I was trying to load the .arff file of the [UCI chronic kidney diease](https://archive.ics.uci.edu/ml/datasets/chronic_kidney_disease#) into python using
`data = arff.loads(open('./Data/chronic_kidney_disease_full.arff'))
`
But I got the 'BadDataFormat' exception as a result
`BadDataFormat: Bad @DATA instance format in line 215: 26,70,1.015,0,4,?,normal,notpresent,notpresent,250,20,1.1,?,?,15.

[2019-05-21 11:04] jnothman commented on #97
It has a spurious trailing comma. It is, to my knowledge, invalid ARFF. Remove the trailing comma there and a few lines later.

[2019-05-21 16:08] yli110-stat697 commented on #97
I see. So There's no way to solve in using liac-arff package? In this case, do I have to convert .arff into csv to remove the trailing comma?

[2019-05-21 16:08] #97 closed

[2019-05-21 22:27] jnothman commented on #97
You don't need to convert into CSV, you need to edit with a text editor

[2019-05-21 22:41] yli110-stat697 commented on #97
Got it! And it fixed my problem. The thing with this dataset is that it has so many bad instances when use liac-arff package. I just found that read_csv() can read .arff file too. Here's the link https://mclguide.readthedocs.io/en/latest/sklearn/preprocessing.html#chronic-kidney-disease

[2020-01-06 01:10] Anjin-Liu opened #101 "Bad @DATA instance format, cannot handle data instance end with comma"
Hi,
Happy new year!

I recently used weka to generate some .arff files.
The files looks like

@relation 'SEA'

@attribute attrib1 numeric
@attribute attrib2 numeric
@attribute attrib3 numeric
@attribute class {groupA,groupB}

@data

7.30967787376657,2.4053641567148585,6.374174253501082,groupB,
1.1700660880722513,7.815346320453048,2.5277616657598587,groupB,
9.84841540199809,8.791825178724801,9.4124

[2020-01-07 12:21] jnothman commented on #101
Can you give more information on how you generated this?  This appears to contradict the [specs](https://waikato.github.io/weka-wiki/formats_and_processing/arff_developer/)

[2020-01-09 03:24] Anjin-Liu commented on #101
Hi jnothman,

Sorry for the late reply.
Actually I used the MOA machine learning for stream software (https://moa.cms.waikato.ac.nz/) to generate the arff files.

I used the SEAGenerator
SEAGenerator seaG1 = new SEAGenerator();
seaG1.nextInstance().getData().toString();

The comma at the end of instance can be easily removed by modifying the generated instance string.
The main concern is that Weka

[2020-02-07 09:42] j00n162 opened #102 "Issue- Out[]: <Generator object load at ....>"
Hello,

I tried to install liac-arff through 'pip install liac-arff.'
However, when I typed the code for loading arff file through Spyder,

import arff
data = arff.load(open('est1.arff', 'rb'))
data

it did not work, and the comment in console was "Out[]: <generator object load at 0x00000182839AD8C8>"

I am not sure what the problem is. Would you please help me to solve this issue?
Thank you.

[2020-02-08 11:08] jnothman commented on #102
I think you should have got a generator only if you pass in a return_type
parameter.

[2020-02-08 11:22] j00n162 commented on #102
Thank you for your comment. Where can I get a generator?

[2020-02-08 13:52] jnothman commented on #102
Sorry, I was responding to the first version of this issue which complained that the output of loading was a Generator.

If your data is not a sparse ARFF, attempting COO return type will raise a BadLayout. Instead, load it dense, then convert to sparse.

[2020-02-09 12:14] tirkarthi opened #103 "Deprecation warning due to invalid escape sequences in Python 3.8"
Deprecation warnings are raised due to invalid escape sequences in Python 3.8 . Below is a log of the warnings raised during compiling all the python files. Using raw strings or escaping them will fix this issue.

[code]

[2020-03-01 06:18] tirkarthi opened #104 ""U" mode is no longer accepted from Python 3.9"
[code]

https://github.com/python/cpython/pull/16959

[2020-03-25 15:19] #104 closed

[2020-03-25 15:21] mfeurer opened #107 "Drop Python2 support?"
Hey everybody,

given that Python2 has reached the end of its life, maybe it is also time to finally drop Python2 support for liac-arff. This could make maintenance easier, but will also allow us to use new features such as type annotations. Are there any opinions on this?

[2020-03-25 15:22] mfeurer commented on #107
CC @jnothman @renatopp @rth

[2020-03-25 20:07] jnothman commented on #107
+1

I think the latest py2-friendly release will remain useful. But
maintainability here is a big block against supporting new features. if we
move to Py>=3.5 as a lot of the community has, then we have an opportunity
to simplify the code.

[2020-04-26 20:05] rth commented on #107
Yes, I think it would be great! @mfeurer Would you be able to release 2.5.0 (or 2.4.1 not sure) with the current version of master as the last Python 2.7 release?

I can make a PR to remove unnecessary code if we only support Python 3.6+ (Python 3.5 reached end of life last November https://www.python.org/dev/peps/pep-0478/#id4)

[2020-04-27 07:05] mfeurer commented on #107
My schedule is currently pretty full. I hope that I can do it late this week or beginning of next week.

[2020-07-01 15:48] mfeurer opened #110 "Improve error messages"
As suggested here https://github.com/openml/openml-python/issues/920

[2020-07-02 06:56] mfeurer commented on #110
That was not an issue with the arff parser.

[2020-07-02 06:56] #110 closed

[2020-07-13 23:02] Malhabib opened #111 "Issue- "BadLayout: Invalid layout of the ARFF file, at line 3"
file = open("data/final-dataset.arff", 'r')

# # Togglable Options
# regenerate_model = False
# regenerate_data = False
# generate_graphs = True
# save_model = True
# create_model_image = False

def generate_model(shape):
    # define the model
    model = Sequential()

    model.add(Dense(30, input_dim=shape, kernel_initializer='uniform', activation='relu'))
    model.add(Dropout(0.4))
    model.

[2020-07-13 23:37] jnothman commented on #111
Please provide the arff input and explain why you think it is valid.

[2020-08-31 13:55] rth commented on #107
Any chance someone would be able to make a last Python 2.7 release, so that it can be dropped on master?

[2020-08-31 18:34] mfeurer commented on #107
Hi, let me just do this now so it's done

[2020-08-31 19:00] mfeurer commented on #107
Here we go: https://pypi.org/project/liac-arff/2.5.0/

[2020-09-02 14:56] rth commented on #107
Thank you @mfeurer !

[2020-09-02 15:16] #103 closed

[2020-09-02 19:23] rth commented on #107
Closing as resolved in https://github.com/renatopp/liac-arff/pull/109

It would have been nice to also create a v2.5.0 git tag on the same commit as the PyPi release..

[2020-09-03 06:59] mfeurer commented on #107
Here we go https://github.com/renatopp/liac-arff/releases/tag/v2.5.0

[2020-09-03 06:59] #107 closed

[2020-12-04 17:23] sebhrusen opened #114 "categorical values represented as '?' are saved to arff file as missing values"
I understand that this may look llike an expected behaviour but this can lead to unexpected behaviour in the following scenario:
- arff file with quoted question marks as categorical values and data: e.g. ```@attribute feat1 {'?', 'A', 'B', 'C'}```
- `arff.load()` reads those `'?'` as strings.
- `arff.write()` (for example after sampling the original data) then writes the `'?'` from loaded data wi

[2021-01-30 20:41] BastianZim opened #115 "Added to conda"
Hi,

this is more of an FYI than an issue but I just wanted to let you guys know that I added liac-arff to conda-forge so that it can be downloaded with conda.

The repo is here: https://github.com/conda-forge/liac-arff-feedstock

Let me know if anyone of the maintainers here would like to be added as maintainers there or if I should make a PR here to add a badge or install instructions. Otherwise

[2021-02-01 08:05] mfeurer commented on #115
That's a great addition, thanks a lot! Yes, could you please make me a maintainer just in case? Also, a note in the docs here would be good I guess.

CC @renatopp

[2021-02-01 11:11] BastianZim commented on #115
My pleasure! Of course, I have added you as a maintainer in https://github.com/conda-forge/liac-arff-feedstock/pull/1 and #116 should add conda. Let me know if you prefer a different style there.

[2021-02-01 13:33] #115 closed

[2021-02-01 13:38] mfeurer commented on #115
Thanks a lot @BastianZim

[2021-02-01 13:39] BastianZim commented on #115
Happy to help!

[2021-02-22 11:58] jnothman commented on #114
I don't see what's wrong with your fix by changing `_RE_QUOTE_CHARS`. I don't think it should stop missing values working, but I've not tested it.

[2021-02-22 12:06] jnothman opened #117 "SECURITY: bad regex pattern in 'sklearn/externals/_arff.py' will cause 'ReDos' security problem."
Posted at https://github.com/scikit-learn/scikit-learn/issues/19522 by @leveryd, `_RE_TYPE_NOMINAL` presents a ReDos risk.

[2021-02-23 15:55] ogrisel commented on #117
[code]

at line: https://github.com/renatopp/liac-arff/blob/35816f5c393a6a04ed6fcc2d41b0309433fa4cd3/arff.py#L166

[2021-02-24 20:35] mfeurer opened #120 "Future of liac-arff"
CC @jnothman @ogrisel @renatopp @pgijsbers

Dear all,

I'm opening this issue to start the discussion on the future of liac-arff as the reason why I started working on this project is soon going away. I needed an arff parser to communicate with OpenML.org and started working on liac-arff as it was the best arff-parser around (and probably still is). As OpenML will support other formats than arff (

[2021-02-24 21:52] jnothman commented on #120
Hi @mfeurer,

Scikit-learn will move to Parquet when supported by OpenML, as far as I'm
concerned.

I guess you're suggesting that we could have this as a dataset loader
regardless of OpenML support. Several of our decisions about how to turn
ARFF into a Scikit-learn friendly dataset are oriented to how OpenML
represents categoricals, booleans, etc. So I'm not
immediately convinced that we want a

[2021-02-24 22:24] renatopp commented on #120
Hey! I don't read the discussions here unless my name is invoked :)

I started this reader because, at the time, ARFF and WEKA were great references for ML in the academic context, and, thus, at my lab, we used them a lot. I even had a repository of [lots of ARFF datasets](https://github.com/renatopp/arff-datasets) that were popular at the time.

It's been ages since I worked with anything related

[2021-02-25 09:20] #117 closed

[2021-02-25 09:21] mfeurer commented on #117
Fixed via #118. Will be available in the next release.

[2021-02-25 09:37] mfeurer commented on #120
Ah, I didn't know that, then there's no reason to move liac-arff into scikit-learn.

AFAIK it's used by OpenML and WEKA and a brief google search showed no other power user. If OpenML moves to parquet the main reason to have an arff parser in Python will go away as datasets will loadable with pandas. However, I just looked at the download stats and they're pretty huge: https://pypistats.org/packag

[2021-02-25 10:07] jnothman commented on #120
The high download count probably reflects ongoing use, but not need for new
features. Security fixes and perhaps compatibility fixes are really all
that's needed for it to remain usable for current purposes in existing
systems.

[2021-02-25 10:42] PGijsbers commented on #120
For some context, the peaks in `liac-arff` interest seem pretty well explained by `openml` downloads, but I don't know about the baseline (~5k/day):

![image](https://user-images.githubusercontent.com/15890747/109140552-fec5bb00-775c-11eb-93c8-23abfadc72e8.png)
![image](https://user-images.githubusercontent.com/15890747/109140579-071df600-775d-11eb-883e-5d10b189151f.png)

Because I am mentioned, I

[2021-04-21 08:22] glemaitre opened #121 "Issue reading timestamp attributes"
I forward a limitation pointed out by @zuliani99 in scikit-learn: https://github.com/scikit-learn/scikit-learn/issues/19944
It is more appropriate to solve the issue upstream than in the vendor version in scikit-learn.

#### Describe the bug
I am trying to fetch a dataset with the fetch_openml api and I notice that it can't handle date type features like timestamp.

#### Steps/Code to Reproduce
[c

[2021-04-21 11:51] jnothman commented on #121
See also #44

[2021-04-25 21:19] zuliani99 commented on #121
I also find out that sometimes after fetch a database from OpenML the y variable so the target is a NoneType variable, so how can I figure out what's the target value? Maybe the y is always the last column of the dataset?

[2021-04-26 07:10] mfeurer commented on #121
Please open an issue with the library you're using to download the data, liac-arff does not know about OpenML.